</main>

<footer class="page-footer light-blue lighten-1">
    <div class="container">
        <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Maestro.</h5>
            <p class="grey-text text-lighten-4">Nous respectons vos données privée</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Information</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">conditions utilisation</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">donnée personnel</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        An Agorise Project Powered by NodeJS
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
          
</body>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>