<!DOCTYPE html>
<html>
    <head>
        <title>Title of the document</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    

        <link rel="stylesheet" href="/assets/css/maestro.css">
    </head>

    <body>
        <header>
            <nav class="light-blue lighten-1">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo maestro-logo">Maestro.</a>
                    <ul class="right hide-on-med-and-down">
                    <li><a href="">Dashboard</a></li>
                    <li><a href=""><i class="material-icons">notifications</i></a></li>
                    <li><a href=""><i class="material-icons">help</i></a></li>
                    <li><a href=""><i class="material-icons">person</i></a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <main>