<% include partials/header %>

<div class="container">
    <div id="dashboard">
        <div class="profile">
            <div class="avatar"></div>
            <div class="profile-name">
                <span></span>
                <span></span>
            </div>
        </div>

        

        <div class="list-product">
            <ul>
                <li>
                    <div class="col s2 m2 element-container produit"><span>Machine à café</span></div>
                    <div class="col s2 m2 element-container marque"><span>Krups</span></div>
                    <div class="col s2 m2 element-container token"><span>pyE3ip7LvuEiykm7i8S2ktAuj</span></div>
                    <div class="col s2 m2 element-container status"><span> online</span></div>
                    <div class="col s2 m2 element-container version-software"><span>v.2.1.0</span></div>
                    <div class="col s2 m2 element-container action"><button class="btn">action</button></div>
                </li>
            </ul>
        </div>

        <div class="add-product-button">
            <a data-target="modal" class="btn-floating btn-large waves-effect waves-light red light-blue modal-trigger"><i class="material-icons">add</i></a>
        </div>


            <!-- Modal Structure -->
            <div id="modal" class="modal">
                <div class="modal-content">
                <h4>Ajouter un produit</h4>
                
                <div class="add-product">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                            <input placeholder="Type de produit (aspirateur, machine à café ...)" id="produit" type="text" class="validate">
                            <label for="produit">Produit</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="marque" placeholder="Marque du produit (SEB, Krups, Moulinex ...)" type="text" class="validate">
                                <label for="marque">Marque</label>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="token" placeholder="Token/API-Key" type="text" class="validate">
                                <label for="token">Token</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="right">
                                    <button class=" modal-close btn waves-effect waves-red btn-flat red darken-1" type="submit" name="action">
                                        Annuler
                                        <i class="material-icons right">add</i>
                                    </button>
                                    <button class="btn waves-effect waves-light " type="submit" name="action">Ajouter
                                        <i class="material-icons right">add</i>
                                    </button>
                            </div>
                           
                        </div>
                    </form>
                </div>

                </div>
                <div class="modal-footer">
                
                </div>
            </div>
    </div>
</div>

<% include partials/footer %>